<div class="container mt-4">
  <div class="row">
      <h1>Perfil de {{ user.username | titlecase }}</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" [src]="user.photoUrl" [alt]="user.username" />
        <div class="card-body">
          <div>
            <strong>Localização:</strong>
            <p>{{ user.city }}, {{ user.country }}</p>
          </div>
          <div>
            <strong>Idade:</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>Última atividade:</strong>
            <p>{{ user.lastActive }}</p>
          </div>
          <div>
            <strong>Membro desde:</strong>
            <p>{{ user.created }}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Like</button>
            <button class="btn btn-success w-100">Mensagem</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Sobre {{ user.username | titlecase }}">
            <h4>Descrição</h4>
            <p>{{ user.introdoction }}</p>
            <h4>Procurando por</h4>
            <p>{{ user.lookingFor }}</p>
          </tab>

          <tab heading="Interesses">
            <h4>Interesses</h4>
            <p>{{ user.interests }}</p>
          </tab>

          <tab heading="Fotos">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>

          <tab heading="Mensagens">
            <p>Aqui ficará as mensagens</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
